<section class="principal">
    <div id="div-content-header" class="container d-flex flex-column justify-content-center h-100">
        <div class="row">
            <img src="/assets/img/avatar.jpg" class="mx-auto p-1 d-block img-thumbnail rounded-circle"
                id="avatar-img" />
        </div>
        <div class="row my-1">
            <strong id="p-title" class="mx-auto d-block pt-3 text-center text-white">Jhonathan Ferreira</strong>
        </div>
        <div class="row my-1">
            <p id="p-sub-title" class="mx-auto d-block text-faded pt-0 text-center text-white">Developer</p>
        </div>
        <div class="row icons my-1">
            <ul id="lista" class="list-inline pb-0 d-flex justify-content-center">
                <li class="list-inline-item px-1">
                    <a href="https://github.com/jhonathanF" target="_blank" rel="noreferrer">
                        <fa-icon [icon]="faGithub"></fa-icon>
                    </a>
                </li>
                <li class="list-inline-item px-1">
                    <a href="https://www.linkedin.com/in/jhonathanferreira/" target="_blank" rel="noreferrer">
                        <fa-icon [icon]="faLinkedin"></fa-icon>
                    </a>
                </li>
                <li class="list-inline-item px-1">
                    <a href="https://www.messenger.com/t/Jhonathan.lFerreira" target="_blank" rel="noreferrer">
                        <fa-icon [icon]="faFacebook"></fa-icon>
                    </a>
                </li>
                <li class="list-inline-item px-1">
                    <a href="http://instagram.com/jhonathan_l" target="_blank" rel="noreferrer">
                        <fa-icon [icon]="faInstagram"></fa-icon>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>